.App {
  text-align: center;
}

.App-header {
  background-image: url('./images/saimaa.jpg');
  background-size: cover;
  background-position: center;
  height: 250px;
  padding-top: 5px;
  color: black;
}

.tagline {
  font-size: 23px;
}

.App-intro {
  font-size: large;
  padding: 40px;
}

.warning {
  color: red;
}

.reading {
  margin-top: 230px;
}

.Game {
  font-size: large;
  padding-top: 20px;
}

.Question {
  font-size: 23px;
}

.Answer {
  font-size: 17px;
  min-height: 250px !important;
}

.image {
  max-height: 180px;
}

.answer-btn[disabled] {
  opacity: 0.6;
}

.feedback-correct {
  color: green;
}

.feedback-incorrect {
  color: red;
}

.tracking {
  font-size: 25px;
  text-align: center;
  color: blue;
}

.Countdown {
  margin-right: 50px;
}

.Scoreboard {
  margin-right: 50px;
}

